[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
autopep8 = "*"

[packages]
selenium = "*"
chromedriver_py = "==86.0.4240.22"

[requires]
python_version = "3.8"
